.section-2 {
  color: white;
  letter-spacing: 0.5px;
  grid-area: 2 / 2 / span 1 / span 13;
  text-align: c;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.section-3 {
  grid-area: 3 / 1 / span 1 / span 13;
  text-align: center;
 }

 .bildeserie {
   height: 250px;
   width: auto;
 }
 

/*grønn*/
body {
  background-color: black;
}

/*topbar*/
.topbar {
  background-color: #f19020;
}
.topbar a.active {
  background-color: white;
}
.topbar a:hover:not(.active) {
  background-color: #f19020;
}

/*sidebar*/
.sidebar {
  background-color: white;
}
.sidebar a.active {
  background-color: #f19020;
}
.sidebar a:hover:not(.active) {
  background-color: #f19020;
}

/*dropdown*/
.dropdown-content {
  background-color: white;
}

/*tittel*/
.section-1 {
  border: 10px solid #f19020;
  background-color: white;
}

/*gradering farger*/
#grad1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #f19020);
}
