.section-2 {
  grid-area: 2 / 1 / span 1 / span 13;
  border: solid black 2px;
  margin-top: 25px;
}

.section-3 {
  grid-area: 3 / 1 / span 1 / span 13;
  margin-top: 25px;
  text-align: center;
}

button {
  font-size: 20px;
  border: 10px solid green;
  background-color: #d9fdf5;
  border-radius: 20px;
  padding: 10px;
}


/*grønn*/
body {
  background-color: white;
}

/*topbar*/
.topbar {
  background-color: green;
}
.topbar a.active {
  background-color: #d9fdf5;
}
.topbar a:hover:not(.active) {
  background-color: green;
}

/*sidebar*/
.sidebar {
  background-color: #d9fdf5;
}
.sidebar a.active {
  background-color: green;
}
.sidebar a:hover:not(.active) {
  background-color: green;
}

/*dropdown*/
.dropdown-content {
  background-color: #d9fdf5;
}

/*tittel*/
.section-1 {
  border: 10px solid green;
  background-color: #d9fdf5;
}

/*gradering farger*/
#grad1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0), green);
}