  
/*grunninfo*/

  body {
margin: 0px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }

.container-1 {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 7%;
  margin-left: 17%;
  margin-right:2% 
  }

/*felles css*/
/*topbar*/
.topbar {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  margin: 0;
  margin-top: -7%;
  padding: 0;
  margin-left: 15%;
  height: 12.3%;
  overflow: auto;
  width: 85%;
}

.topbar a {
  float: right;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.topbar a.active {
  color: white;
}

.topbar a:hover:not(.active) {
  color: white;
  cursor: pointer;
}

/*sidebar*/
  .sidebar {
    margin: 0;
    margin-top: -7%;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-align: center;
    text-indent: -5%;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    color: white;
  }
  
/*dropdown*/
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*ikoner*/
  .hjem {
    width: 55px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/*felles css - slutt*/

 /*tittel*/ 
  .section-1 {
    border-radius: 20px;
    grid-area: 1 / 2 / span 1 / span 11;
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
  }

/*gradering*/
  #grad1 {
    grid-area: 13 / 1 / span 1 / span 13;
    height: 400px;
    margin-left: -50%;
    margin-right: 0%;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0); /* For browsers that do not support gradients */
  }

/*hovedside*/

.portrett {
  height: 350px;
  width: auto;
  margin-left: 500px;
  margin-right: 0px;
}

/*fortelle kort om nettside*/
.section-2{
  margin-top: 20px;
  grid-area: 2 / 1 / span 1 / span 13;
  border: solid rgba(0, 0, 0, 0.496) 5px;
  padding: 10px;
}

/*skisser av nettside*/
.section-3{
  margin-top: 20px;
  grid-area: 3 / 1 / span 1 / span 13;
  text-align: center;
}

/*posisjon av skisser*/
.b1 {
  height: 250px;
  width: auto;
}

.b2 {
  height: 200px;
  width: auto;
}

.b3 {
  height: 300px;
  width: auto;
}