/*grunninfor*/

/*av meg lenke*/
a.meg:link {text-decoration: underline; color: rgb(255, 230, 66); font-style: normal;}
a.meg:visited {color: rgb(255, 230, 66);  font-style: italic;}
a.meg:hover {color: rgb(255, 183, 28); font-style: italic;} 
a.meg:active {color: rgb(255, 230, 66); font-style: italic;}


/*tekst margin*/
.section-2, .section-3, .section-4 {
  color: white;
  margin-right: 15px;
  margin-left: 15px;
}

/*fortelle kort om nettside*/
.section-2{
  grid-area: 2 / 1 / span 1 / span 9;
  line-height: 40px;
}

.section-3{
  margin-top: 27%;
  grid-area: 2 / 10 / span 1 / span 4;
}

/*maskot*/
.maskot {
  height: 300px;
  float: right;
  width: auto;
  transition: .5s ease;
  opacity: 0;
}

.maskot:hover{
  transition: .5s ease;
  opacity: 100%;
}

/*SKISSEDEL*/
.section-4{
  margin-top: 20px;
  line-height: 30px;
  grid-area: 3 / 1 / span 1 / span 13;
  margin-left: 5%;
  margin-right: 5%;
}

 /*til info*/
.indent_h {
  text-indent: 5%;
  line-height: 0%;
}

/*feles - bilder*/
/*bredde*/
.b1, .b2, .b3 {
  width: 92%;
}
/*bilde - venstre*/
.b2, .b2_over, .b2_under {
  margin-right: 8%;
}
/*bilde - høyre*/
.b1, .b1_over, .b1_under
.b3, .b3_over, .b3_under {
  margin-left: 8%;
}


/*idé 1*/
.b1 {
  height: 350px;
  float: right;
}

.b1_boks {
  shape-outside: url(../Bilder/Idé_ds.png);
  text-align: center;
  float: right;
  margin-top: 7.2%;
  margin-bottom: -2.5%;
}

.b1_over {
  color: rgb(55, 7, 102);
  background-color: white;
  padding-top: 15px;
  margin-bottom: 0%;
  margin-top: 0%;
}

.b1_under {
  margin-top: 0%;
}

/*idé 2*/

.b2 {
  height: 200px;
  float: left;
}

.b2_boks {
  shape-outside: url(../Bilder/Idé1_ds.png);
  text-align: center;
  float: left;
  margin-top: 9.8%;
  margin-bottom: -3%;
}

.b2_over {
  color: rgb(55, 7, 102);
  background-color: white;
  padding-top: 15px;
  margin-bottom: 0%;
  margin-top: 3%;
}

.b2_under {
  margin-top: 0%;
}

/*idé 3*/
.b3 {
  height: 300px;
  float: right;
}

.b3_boks {
  shape-outside: url(../Bilder/Idé2_ds.png);
  text-align: center;
  float: right;
  margin-top: -5%;
  margin-bottom: -2.5%;
}

.b3_over {
  color: rgb(55, 7, 102);
  background-color: white;
  padding-top: 15px;
  margin-bottom: 0%;
  margin-top: 10%;
}

.b3_under {
  margin-top: 0%;
}

/*lilla*/
body {
  background-color: rgb(55, 7, 102);
}

/*topbar, sidebar, dropdown*/
.sidebar a.active, .sidebar a:hover:not(.active), .navbar {
  background-color: #5b5ec5;
}
.topbar a.active, .sidebar, .dropdown-content, .section-1 {
  background-color: #d9ecfd;
}

.dropdown:hover .dropbtn, .dropbtn:focus, .navbar a:hover {
  background-color: #2e3476;
}

/*tittel*/
.section-1 {
  border: 10px solid #5b5ec5;
}

/*gradering farger*/
#grad1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #5b5ec5);
}