.section-2 {
  grid-area: 2 / 3 / span 1 / span 3;
  line-height: 22px;
  text-align: center;
  transition: .5s ease;
  transform: scale(1);
  background-color: #5b5ec5;
  padding-left: 10px;
  padding-right: 10px;
  color: white
}

.section-2 a{
  text-decoration: none;
  color: white;
}

.section-2:hover {
  box-shadow: 0px 8px 15px 5px black;
  transition: .5s ease;
  transform: scale(1.05);
}

.pong {
  margin-top: -20px;
  height: auto;
  width: 200px
}

/*lenke*/
a.pongw:link {text-decoration: underline; color: white; font-style: normal;}
a.pongw:visited {color: white; font-style: italic;}
a.pongw:hover {color: #2e3476; font-style: italic;} 
a.pongw:active {color: #2e3476; font-style: italic;}

/*lilla*/
body {
  background-color: rgb(55, 7, 102);
}

/*topbar, sidebar, dropdown*/
.sidebar a.active, .sidebar a:hover:not(.active), .navbar {
  background-color: #5b5ec5;
}
.topbar a.active, .sidebar, .dropdown-content, .section-1 {
  background-color: #d9ecfd;
}

.dropdown:hover .dropbtn, .dropbtn:focus, .navbar a:hover {
  background-color: #2e3476;
}

/*tittel*/
.section-1 {
  border: 10px solid #5b5ec5;
}

/*gradering farger*/
#grad1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #5b5ec5);
}